.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 9%;
}
table, th, td {
    border: 1px solid black;
  }
  fieldset{
      width: 100%;
      
  }
  legend{
    font-size: 25px;
    font-weight: bold;

  }
  .second{
      margin-top: 3%;
  }
  